/*{
  background-color: white;
  color: green;
  outline: 1px solid red;
}*/

html {
  background-color: black;
}

body {
  background-color: black;

}

.header {
  width: 100%;
  background-color: black;
}

.style {
  background-color: black;
  color: white;
  text-decoration: none;

}

.header {
  width: 100%;
  background-color: transparent;
  bottom: auto;
  padding-top: 0;
  margin: 0 auto;
  margin-top: 25px;
  bottom: auto;
}


.navbar {
  border-radius: none;
  width: auto;
  border: 0;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
  height: auto;
  margin-top: 10px;
  margin-left: 27%;
  margin-right: 27%;
  font-family: 'Poiret One', sans-serif;
  outline: 1px solid white;
}

.navbar ul {
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    text-align: center;
    display: block;
    display: inline-block;
    padding-left: 0;
}

.navbar li {
  display: inline-block;
  width: auto;
}

.navbar li a {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding: 10px;
    background-color: ;
    text-decoration: none;
    height: auto;
    color: white;

}

.navbar li a:hover {
  display:block;
  background-color: black;
  color: white;
  border-radius: 2px;
  opacity: .5
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display:none;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  min-width; 160px;
  margin-top: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: black;
  color: white;
  opacity: .5;
}

.description {
  float: left;
  max-width: 26%;
  min-width: 300px;
  height: 100%;
  display: block;
  padding-bottom: 40%;
  margin-top: 15%;
  margin-bottom: 60px;
  margin-left: 40px;
  position: fixed;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  background-color: black;
  color: white;
}

p {
  background-color: black;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
}

h1 {
  background-color: black;
  color: white;
  margin: 0px;
  padding-bottom: 25px;
  text-decoration: underline;
  font-size: 40px;

}

h3 {
  background-color: black;
  color: white;
  margin: 0px;
  padding-bottom: 20px;
}
.project-photos {
  float: right;
  width: 100%;
  height: auto;
  margin-right: 5%;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
}

.photos {
  background-color: black;
  display:block;
  height: auto;
  width: auto;
  margin-left: 45%;
  margin-right: 10%;
  margin-bottom: 20px;
  padding-top: 10px
  padding-bottom: 10px;
  padding-right: 5%;

}

.photo  {
  margin-left: 7%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}

.back {
  padding-top: 75px;
}

footer {
  height: 50px;
  width: 100%;
  clear: both;
  padding-top: 30px;
}

.menu {
  display: none;
}

@media screen and (max-width: 1017px) {
  .menu {
    display:block;
  }

  .navbar {
    display: none;
  }
}

}
